footer {
   position: absolute;
   text-align: center;
   bottom: 0;
   width: 100%;
}
.container {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: auto;
        padding: 20px;
}

a {
    color: #ddd;
    margin: 10px;
}
a:hover {
    color: #fff;

}

.copyright {
    text-align: center;
}
